/********************* ESTLIZANDO TABELAS COM CSS **************/

body {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

table {
    width: 600px;
    border-collapse: collapse /*collapse ou separete*/;
}

th, td {
    padding: 7px;
}

th {
    text-transform: uppercase;
    border-top: 1px solid #999;
    border-bottom: 1px solid #111;
    text-align: left;
    font-size: 90%;
    letter-spacing: 0.1em; /*CONFIGURA ESPACAMENTO ENTRE AS LETRAS*/
}

tr.alternado {
    background-color: #efefef;
}

tr:hover{
    background-color: #c3e6e5;
}

.numero {
    text-align: right;
}